:root {

    --verde: #198754;
    --verde-hover: #157347;

    --amarelo: #ffc107;

    --fundo: #f5f7fa;

    --texto: #212529;

    --card: #ffffff;
}

/* Desktop */

/* ... todo o CSS normal ... */


body {

    font-family: 'Poppins', sans-serif;

    background: var(--fundo);

    color: var(--texto);

    transition: .3s;

    min-height: 100vh;
}

.titulo-principal {

    white-space: nowrap;

    text-align: center;

    font-size: 2.5rem;

    font-weight: 700;

    margin-bottom: 30px;
}

.titulo-principal i {

    color: var(--verde);
}

.resumo-card {

    border: none;

    border-radius: 18px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
}

.resumo-card h3 {

    margin-top: 10px;

    font-size: 2rem;

    font-weight: 700;
}

.icone-verde {

    font-size: 2rem;

    color: var(--verde);
}

.icone-amarelo {

    font-size: 2rem;

    color: var(--amarelo);
}

.grupo-card,
.selecao {

    background: #ffffff;

    border: none;

    border-radius: 16px;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, .12);

    transition: .2s;
}

.grupo {

    background: var(--card);

    border-radius: 18px;

    padding: 20px;

    margin-bottom: 25px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
}

.grupo h2 {

    text-align: center;

    margin-bottom: 20px;

    font-weight: 700;
}

.selecao {

    font-weight: 900;

    margin-top: 20px;

    padding: 15px;

    border-radius: 12px;

    background: #fafafa;

    border: 1px solid #e5e5e5;
}

.selecao h3 {

    display: flex;

    align-items: center;

    gap: 10px;

    font-size: 1.5rem;

    font-weight: 900;
}

.bandeira {

    width: 42px;

    border-radius: 4px;

    border: 1px solid #ddd;
}

/* ---- */


.figurinhas {

    display: grid;

    grid-template-columns:
        repeat(auto-fit,
            minmax(70px, 1fr));

    gap: 10px;

    margin-top: 10px;
}

.fig {

    font-size: 1.4rem;

    padding: 10px;

    text-align: center;

    display: flex;

    align-items: center;

    justify-content: center;

    background: #e9ecef;

    border: 1px solid #ced4da;

    border-radius: 10px;

    cursor: pointer;

    user-select: none;

    font-weight: 900;

    transition: .2s;

    white-space: nowrap;
}

#especiais .fig {
    font-size: 1.05rem;
}

#cocacola .fig {
    font-size: 1.3rem;
}


/* ---- */

.fig:hover {

    transform: translateY(-2px);

    box-shadow: 0 4px 10px rgba(0, 0, 0, .12);
}

.fig.colada {

    background: var(--verde);

    color: white;

    border-color: var(--verde);
}

.form-control {

    border-radius: 12px;
}

.btn {

    border-radius: 12px;
}

@keyframes fadeIn {

    from {

        opacity: 0;

        transform: translateY(10px);
    }

    to {

        opacity: 1;

        transform: translateY(0);
    }
}

#rankingSelecoes {

    max-height: 500px;

    overflow-y: auto;
}

.linhaRanking {

    margin-bottom: 12px;
}

.linhaRanking .cabecalho {

    display: flex;

    justify-content: space-between;

    align-items: center;

    font-size: 14px;

    margin-bottom: 4px;
}

.barra {

    width: 100%;

    height: 18px;

    background: #e5e5e5;

    border-radius: 20px;

    overflow: hidden;
}

.barraInterna {

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: .8rem;

    font-weight: 700;

    color: white;

    background: linear-gradient(90deg,
            #2ecc71,
            #27ae60);

    transition: width .3s;
}

.cardEstatistica {

    display: inline-block;

    background: #f8f9fa;

    padding: 10px 15px;

    margin: 5px;

    border-radius: 10px;

    font-size: 14px;

    font-weight: 500;
}

.btnEstatisticasFlutuante {

    position: fixed;

    bottom: 200px;
    right: 15px;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: #fd7e14;

    color: white;

    cursor: pointer;

    z-index: 9999;
}

.btnEstatisticasFlutuante:hover {

    transform: scale(1.08);
}

.btnRepetidasFlutuante {

    position: fixed;

    bottom: 80px;
    right: 15px;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: #dc3545;

    color: white;

    cursor: pointer;

    z-index: 9999;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, .25);
}

.btnRepetidasFlutuante:hover {

    transform: scale(1.08);
}

/* --- */

.menuFerramentasFlutuante {

    position: fixed;

    right: 15px;

    bottom: 80px;

    display: none;

    flex-direction: column;

    gap: 8px;

    z-index: 9998;
}

.menuFerramentasFlutuante button {

    border: none;

    border-radius: 12px;

    padding: 10px 15px;

    background: #0d6efd;

    color: white;

    white-space: nowrap;

    box-shadow:
        0 4px 10px rgba(0, 0, 0, .25);
}

/* --- */

.fig.repetida {

    background: #0d6efd;

    color: white;

    border-color: #0d6efd;

    position: relative;
}

.expoente {

    position: absolute;

    top: 3px;

    right: 5px;

    font-size: 20px;

    font-weight: bold;

    line-height: 1;
}

@keyframes shake {

    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-3px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {

    animation: shake .3s;
}

.btnTrocasFlutuante {

    position: fixed;

    bottom: 140px;
    right: 15px;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: #198754;

    color: white;

    cursor: pointer;

    z-index: 9999;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, .25);
}

.btnTrocasFlutuante:hover {

    transform: scale(1.08);
}

#popUpRepetidas {

    display: none;

    position: fixed;

    z-index: 10000;

    background: white;

    border-radius: 12px;

    padding: 10px;

    box-shadow:
        0 4px 20px rgba(0, 0, 0, .25);

    min-width: 140px;

    text-align: center;
}

#tituloRepetida {

    font-size: 14px;

    font-weight: 600;

    margin-bottom: 8px;
}

#menuRepetidas button {

    border: none;

    width: 35px;

    height: 35px;

    border-radius: 50%;

    cursor: pointer;

    font-size: 18px;
}

#addRep {

    background: #198754;

    color: white;
}

#removeRep {

    background: #dc3545;

    color: white;
}

#qtdRep {

    display: inline-block;

    min-width: 30px;

    font-weight: bold;
}

.trofeu-copa {

    color: #d4af37 !important;

    font-size: 1.2em;

    margin-right: 12px;

    text-shadow:
        0 0 5px rgba(212, 175, 55, .8),
        0 0 10px rgba(212, 175, 55, .5),
        0 0 20px rgba(212, 175, 55, .3);
}

.btnFerramentasFlutuante {

    position: fixed;

    bottom: 20px;

    right: 15px;

    width: 50px;

    height: 50px;

    border: none;

    border-radius: 50%;

    background: #0d6efd;

    color: white;

    cursor: pointer;

    z-index: 9999;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, .25);
}

.btnFerramentasFlutuante:hover {

    transform: scale(1.08);
}

.btnModoEdicaoFlutuante {

    position: fixed;

    top: 100px; /* posição do botão na vertical */

    bottom: 20px;

    right: 15px;

    width: 50px;

    height: 50px;

    border: none;
    border-radius: 50%;

    background: #dc3545;

    color: white;

    cursor: pointer;

    z-index: 9999;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, .25);

    transition: .2s;
}

.btnModoEdicaoFlutuante:hover {

    transform: scale(1.08);
}

/* ---- */


.progressoSelecao {

    margin-top: 15px;

    padding-top: 10px;

    border-top: 1px solid #ddd;
}

@keyframes pulse {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {

    animation:
        pulse .5s infinite;
}

.percentualResumo {

    margin-top: 8px;

    display: inline-block;

    padding: 4px 10px;

    border-radius: 20px;

    background: rgba(13, 110, 253, .10);

    font-size: 13px;

    font-weight: 600;
}

.barraResumo {

    width: 100%;

    height: 12px;

    background: #e9ecef;

    border-radius: 20px;

    overflow: hidden;

    margin-top: 10px;
}

.barraResumoInterna {

    height: 100%;

    width: 0;

    background: #198754;

    transition: .4s;
}

.barraFaltante {

    background: #dc3545;
}

.btnTopoFlutuante {

    position: fixed;

    bottom: 80px;

    left: 15px;

    width: 50px;

    height: 50px;

    border: none;

    border-radius: 50%;

    background: #ffc107;

    color: white;

    cursor: pointer;

    z-index: 9999;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, .25);
}

.btnFinalFlutuante {

    position: fixed;

    bottom: 15px;

    left: 15px;

    width: 50px;

    height: 50px;

    border: none;

    border-radius: 50%;

    background: #ffc107;

    color: white;

    cursor: pointer;

    z-index: 9999;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, .25);
}

.btnTopoFlutuante:hover,
.btnFinalFlutuante:hover {

    transform: scale(1.08);
}

.infoSelecao {

    margin-top: 15px;

    padding-top: 15px;

    border-top: 1px solid #ddd;
}

#contadorEspeciais,
#contadorCocaCola {

    font-size: 14px;

    font-weight: 600;

    margin-bottom: 8px;
}


.trofeu-copa {

    width: 34px;

    height: 34px;

    object-fit: contain;
}

.bandeira-modal {

    width: 28px;

    height: 20px;

    object-fit: cover;

    border-radius: 4px;

    margin-right: 8px;

    vertical-align: middle;

    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}


.titulo-principal {

    text-align: center;

    margin-bottom: 30px;

    line-height: 1.1;
}

.titulo-linha {

    font-family: 'Changa One', cursive;

    font-size: 3.5rem;

    letter-spacing: 2px;

    text-transform: uppercase;

    text-shadow:
        2px 2px 4px rgba(0, 0, 0, .15);
}

/* --- */

body {

    background:
        linear-gradient(180deg,
            #1b5e20,
            #0d3b26);

    min-height: 100vh;
}

.banner-topo {

    max-width: 1100px;

    margin: 15px auto 25px auto;

    padding: 0;
}

.banner-topo img {

    width: 100%;

    height: auto;

    display: block;

    border-radius: 18px;

    box-shadow:
        0 8px 20px rgba(0, 0, 0, .25);
}

.painelResumo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    max-width: 1100px;
    margin: 15px auto;
}

.progressoResumo {
    display: none;
}

.cardResumo {

    background: #fff;

    border: 2px solid #d4af37;

    border-radius: 18px;

    text-align: center;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, .12);

    border-top:
        4px solid #d4af37;
}

.tituloResumo {

    color: #198754;

    font-size: .9rem;

    font-weight: 700;

    text-transform: uppercase;

    letter-spacing: 1px;
}

.valorResumo {

    margin-top: 8px;

    font-size: 2rem;

    font-weight: 900;

    color: #212529;
}


/* --- */

.progressoResumo {

    width: 100%;

    max-width: 1100px;

    margin: 10px auto 0px auto;

    background: #fff;

    border: 2px solid #d4af37;

    border-radius: 18px;

    padding: 10px;

    box-shadow:
        0 4px 15px rgba(0, 0, 0, .12);

    border-top:
        4px solid #198754;

    box-sizing: border-box;
}

.progressoCabecalho {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 6px;

    font-size: .9rem;

    font-weight: 600;
}

.barraProgresso {

    width: 100%;

    height: 18px;

    background: #e5e5e5;

    border-radius: 20px;

    overflow: hidden;
}

.barraPreenchida {

    width: 0%;

    height: 100%;

    background: linear-gradient(90deg,
            #2ecc71,
            #27ae60);

    transition: width .4s ease;
}

/* --- */

.selecaoCompleta {

    background: #e8f5e9;

    border: 3px solid #d4af37;

    box-shadow:
        inset 0 0 12px rgba(255, 215, 0, .55),
        inset 0 0 25px rgba(255, 193, 7, .35),
        0 0 12px rgba(25, 135, 84, .25);

    transition: .3s;
}

.selecaoCompleta h3::after {

    content: " ✅";
}

#listaTrocas {

    font-size: 1rem;

    font-weight: 600;

    line-height: 1.6;

    white-space: pre-wrap;

    font-family: inherit;

    white-space: normal;
}


/* -- html trocas */

.blocoTroca {

    background: #fff;

    border: 1px solid #ddd;

    border-radius: 10px;

    padding: 10px;

    margin-bottom: 10px;

    white-space: normal;
}

.tituloTroca {

    font-size: 1.1rem;

    font-weight: 900;

    text-transform: uppercase;

    color: #198754;

    margin-bottom: 6px;
}

.numerosTroca {

    font-size: 1rem;

    font-weight: 700;

    line-height: 1.6;

    white-space: normal;
}

/* --- */

.tituloSecaoTroca {

    font-size: 1rem;

    font-weight: 900;

    color: #198754;

    border-bottom: 2px solid #198754;

    padding-bottom: 4px;

    margin: 15px 0 8px 0;
}

#modalBoasVindas .modal-footer {

    justify-content: center;
}


/* ========================= */
/*         MOBILE            */
/* ========================= */

@media (max-width: 768px) {

    /* TOPO */

    .banner-topo {

        margin: 8px auto 10px auto;
    }

    .banner-topo img {

        border-radius: 12px;
    }

    .titulo-principal {

        font-size: clamp(1.2rem, 4vw, 2rem);

        white-space: nowrap;
    }

    .titulo-linha {

        font-size: 2rem;
    }

    .bandeira {

        width: 36px;
    }

    /* Resumo */

    .painelResumo {

        grid-template-columns: repeat(3, 1fr);

        gap: 10px;

        padding: 0 8px;

        box-sizing: border-box;
    }

    .cardResumo {
        padding: 6px 2px 4px 2px;
        border-radius: 10px;
        min-height: 60px;
    }

    .tituloResumo {
        font-size: 0.75rem;
        line-height: 1;
    }

    .valorResumo {
        font-size: 1.8rem;
        font-weight: 900;
        line-height: 1;
    }

    .cardProgresso {
        display: none;
    }

    .progressoResumo {
        display: block;
        grid-column: 1 / -1;
    }

    /* Seleções */


    /* Figurinhas */

    .fig {

        padding: 8px;

        font-size: 16px;
    }

    .figurinhas {

        grid-template-columns:
            repeat(auto-fill, minmax(50px, 1fr));
    }

    #especiais .fig {
        font-size: 0.8rem;
    }

    #especiais .figurinhas {
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    }

    #cocacola .figurinhas {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }

    #cocacola .fig {
        font-size: 1em;
    }

    /* Modal */

    
}